body {
    background-color: whitesmoke;
    font-family: 'Pacifico', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px; /* to make space between login box and company name */
}
.login-box {
    background: white;
    padding: 32px;
    justify-content: center;
    border: 1px solid lightgray;
    border-radius: 10px;
    color:blueviolet;
    box-shadow: 0 0 10px black;
    width: 350px;
    max-width:90%;
    /* TOGGLE EFFECT FOR LOGIN BOX */
    transition: all 0.3s ease;
    transform: scale(1);
}
.login-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9), 
                0 0 10px rgba(167, 225, 99, 0.1);
}
h2 {
    text-align: center;
}
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 5px;
    font: inherit;
    box-sizing: border-box;
}
button {
    width: 100%;
    padding: 12px;
    background-color:blueviolet;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font: inherit;
    color: white;
    margin-top: 16px;
    /* TOGGLE EFFECT FOR BUTTON */
    transition: all 0.3s ease;
    transform: scale(1);
}
button:hover {
    transform: scale(1.05);
    background-color: blueviolet;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
.name {
    text-align: center;
}
.info {
    margin: 0;
    font-family: 'Share Tech Mono', monospace;
    font-size: 40px; 
    font-weight: bold;
    color: black;
    letter-spacing: 3px; 
    text-transform: uppercase; 
}
.underline { 
    width: 100px;
    height: 3px;
    background: blueviolet;
    margin: 10px auto 0;
    border-radius: 2px;
}